Solution/NotificationTest/packages/
Solution/NotificationTest/NotificationTest/NotificationTest.Android/obj/
Solution/NotificationTest/NotificationTest/NotificationTest.Android/bin/
Solution/NotificationTest/NotificationTest/NotificationTest.UWP/obj/
Solution/NotificationTest/NotificationTest/NotificationTest.UWP/bin/
Solution/NotificationTest/NotificationTest/NotificationTest.iOS/bin/
Solution/NotificationTest/NotificationTest/NotificationTest.iOS/obj/
